<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% if (filters.i18nSupport) { %>
      <h1 translate="LOGIN"></h1> 
      <p>{{'ACCOUNT_RESET_MSG' | translate}} <code>server/config/seed.js</code>. {{'DEFAUL_ACCOUNT_MSG' | translate}} <code>test@example.com</code> / <code>test</code></p> 
      <p>{{'ADMIN_ACCOUNT_IS_MSG' | translate}}<code>admin@example.com</code> / <code>admin</code></p> 
      <% } else { %>      
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
      <% } %>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>
        <div class="form-group">
          <% if (filters.i18nSupport) { %>
          <label translate="EMAIL"></label> 
          <% } else { %>
          <label>Email</label> 
          <% } %>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>
        <div class="form-group">
          <% if (filters.i18nSupport) { %>
          <label translate="PASSWORD"></label>
          <% } else { %>
          <label>Password</label>
          <% } %>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <% if (filters.i18nSupport) { %>
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted" translate="ENTER_EMAIL_PASSWORD_MSG">
          </p> 
          <% } else { %>
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted"> 
             Please enter your email and password. 
          </p> 
          <% } %>

          <% if (filters.i18nSupport) { %>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted" translate="ENTER_VALID_EMAIL_MSG"> 
          </p> 
          <% } else { %>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted"> 
             Please enter a valid email.
          </p>  
          <% } %>

          <% if (filters.i18nSupport) { %>
          <p class="help-block">{{ vm.errors.login | translate }}</p> 
          <% } else { %>
          <p class="help-block">{{ vm.errors.login }}</p> 
          <% } %>
        </div>

        <div>
          <% if (filters.i18nSupport) { %>
          <button class="btn btn-inverse btn-lg btn-login" type="submit" translate="LOGIN"> 
          </button> 
          <% } else { %>
          <button class="btn btn-inverse btn-lg btn-login" type="submit"> 
            Login 
          </button>             
          <% } %>

          <% if (filters.i18nSupport) { %>
          <a class="btn btn-default btn-lg btn-register" <% if (filters.uirouter) { %>ui-sref="signup"<% } else { %>href="/signup"<% } %>  translate="REGISTER">
          </a>
          <% } else { %>
          <a class="btn btn-default btn-lg btn-register" <% if (filters.uirouter) { %>ui-sref="signup"<% } else { %>href="/signup"<% } %>>
            Register
          </a>
          <% } %>
        </div>
<% if (filters.oauth) { %>
        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div><% } %>
      </form>
    </div>
  </div>
  <hr>
</div>
